@font-face {
  font-family: pokemon;
  src: url(Pokemon.ttf);
}
@font-face {
  font-family: f25;
  src: url(F25_font.ttf);
}
* {
  font-family: f25;
}
html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
  background-repeat: no-repeat;
  width: 100vw;
  background-color: #2e2e2e;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  font-family: pokemon;
  color: rgb(255, 203, 5);
  -webkit-text-stroke: 1px rgb(42, 117, 187);
}
.buttonInputForm {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: center;
}
input {
  /* background-color: transparent; */
  /* border-color: transparent; */
  height: 80px;
  width: 500px;
  font-size: 60px;
  color: rgb(0, 0, 0);
  margin: 2rem 0;

  /* outline: none; */
  /* padding: 1rem 2 rem; */
  text-align: center;
  justify-content: center;
}
.searchButton {
  margin: 2rem 0;
  padding: 1rem 2 rem;
  width: 143px;
  height: 80px;
  cursor: pointer;
  background-color: red;
  border: none;
  transition: 0.2s;
}
.searchButton:active {
  transform: scale(0.9);
}
.shapes {
  display: flex;
}
/* .leftSquare {
  background-color: #9e9e9e;
  height: 270px;
  width: 300px;
  justify-content: flex-start;
}
.rightRectangle {
  background-color: #9e9e9e;
  height: 270px;
  width: 300px;
  justify-content: flex-end;
  align-content: flex-end;
} */
.listImagePos {
  display: flex;
  align-content: space-between;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 0%;
  margin: 0%;
  border: 0px;
}
.infoBox {
  background-color: #e4e4e4;
  width: 450px;
  height: 400px;
  display: flex;
  flex-direction: column;
}
li {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  color: rgb(24, 24, 24);
  -webkit-text-stroke: 0.5px rgb(0, 0, 0);
  font-size: 30px;
  line-height: 40px;
  text-shadow: 1.5px 1.5px #878787;
}

.pokemonImage {
  width: 360px;
  height: 360px;
  justify-content: flex-end;
  /* transform: skew(-20deg); */
}
.shinyPokemonImage {
  width: 360px;
  height: 360px;
  justify-content: flex-end;
}
.pokedexBgShape {
  height: 35vh;
  width: 90vw;
  padding: 0%;
  margin: 0%;
}
/* .parallelogram {
  background-color: #9e9e9e;
  width: 300px;
  height: 330px;
  transform: skew(20deg);
} */

.typesImageClass {
  width: 130px;
  height: 40px;
  color: white;
  font-size: 20px;
  border-color: #000000;
  -webkit-text-stroke: 0.4px rgb(0, 0, 0);
  letter-spacing: 0.8px;
  padding: 7px;
  margin-top: 3px;
  box-shadow: 4px 3px 4px 3px rgba(244, 244, 244, 0.46) inset;
}

.imageButtonPos {
  display: flex;
  flex-direction: column;
}
.buttonRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.emptyPage {
  text-align: center;
  color: white;
}
.shinyNormalPos {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.normalButton {
  width: 50%;
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 6px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #2b2b2b;
  background-color: #181818;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.normalButton:hover {
  background-position: right center;
  color: #ffffff;
  text-decoration: none;
}

.normalButton:active {
  transform: scale(0.95);
}
.shinyButton {
  width: 50%;
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 6px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #2b2b2b;
  background-image: linear-gradient(
    45deg,
    #2e2e2e 0%,
    #c8c8c8 51%,
    #181818 100%
  );
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.shinyButton:hover {
  background-position: right center;
  color: #ffffff;
  text-decoration: none;
}

.shinyButton:active {
  transform: scale(0.95);
}
/* media query for mobile size accessibility 
Move input to center
resize button
Image next 
then list of stats  */

@media all and (max-width: 500px) {
  .buttonInputForm {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;
  }
  input {
    /* background-color: transparent; */
    /* border-color: transparent; */
    height: 60px;
    width: 300px;
    font-size: 40px;
    color: rgb(0, 0, 0);
    margin: 2rem 0;

    /* outline: none; */
    /* padding: 1rem 2 rem; */
    text-align: center;
    justify-content: center;
  }
  .searchButton {
    margin: 2rem 0;
    padding: 1rem 2 rem;
    width: 143px;
    height: 60px;
    cursor: pointer;
    background-color: red;
    border: none;
  }
  .listImagePos {
    display: flex;
    align-content: space-between;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 0%;
    margin: 0%;
    border: 0px;
  }
  li {
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    -webkit-text-stroke: 0.5px rgb(0, 0, 0);
    font-size: 20px;
    line-height: 40px;
  }

  .pokemonImage {
    width: 320px;
    height: 320px;
    justify-content: center;
    align-content: center;
    position: relative;
    left: 7vw;
  }

  .infoBox {
    background-color: #e4e4e4;
    width: 380px;
    height: 330px;
    display: flex;
    flex-direction: column;
  }
}
